
body {
  background-color: #FFFFF0;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 400%;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
  color: #0A81AB;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #0A81AB;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #0A81AB;
}

p{
  line-height: 2;
}


.top-container{
  background-color: skyblue;
  position: relative;
  padding-top: 6%;
}

.top-cloud{
  position: absolute;
  right: 18%;
  top: 10%;
}

.bottom-cloud{
  position: absolute;
  left: 15%;
  bottom: 62%;
}

.mountain{
  position: relative;
  top: 5px;
}

.middle-container{
  color: #40514E;
}

.profile{
  width: 70%;
  text-align: center;
  margin: 3% auto 0 auto;
}

/*
.skills{

}
*/

.skill-row{
  width: 55%;
  margin: 7% auto 7% auto;
  text-align: left;
}

.left-images{
  width: 30%;
  float: left;
  margin-right: 5%;
}

.right-images{
  width: 25%;
  float: right;
  margin-left: 5%;
}

.button{
   background: #5ACFF7;
   background-image: -webkit-linear-gradient(top, #5ACFF7, #0A81AB);
   background-image: -moz-linear-gradient(top, #5ACFF7, #0A81AB);
   background-image: -ms-linear-gradient(top, #5ACFF7, #0A81AB);
   background-image: -o-linear-gradient(top, #5ACFF7, #0A81AB);
   background-image: -webkit-gradient(to bottom, #5ACFF7, #0A81AB);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 100%;
   font-weight: 500;
   padding: 0.5% 0.8%;
   border: solid #0059A0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #FFAE00 1px;
   background: #FFD13B;
   background-image: -webkit-linear-gradient(top, #FFD13B, #F6BF0B);
   background-image: -moz-linear-gradient(top, #FFD13B, #F6BF0B);
   background-image: -ms-linear-gradient(top, #FFD13B, #F6BF0B);
   background-image: -o-linear-gradient(top, #FFD13B, #F6BF0B);
   background-image: -webkit-gradient(to bottom, #FFD13B, #F6BF0B);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}


.bottom-container{
  background-color: gray;
  margin: 0;
}

.contact-me{
  margin-bottom: 1%;
}

.contact-message{
  width: 70%;
  text-align: center;
  margin: 1% auto 1% auto;
}

a.button:link {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a.button:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a.button:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a.button:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: Black;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0 0.3%;
}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #FFD13B;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #5ACFF7;
  background-color: transparent;
  text-decoration: underline;
}
